@model IEnumerable<HRMS.Entities.ViewModels.MstDesignationTypeVM>
@{
	ViewData["Title"] = "Designation Type Master";
	Layout = "~/Views/Shared/_MainMaster.cshtml";
}
<script>
	if ("@TempData["Message"]" != "") {
		window.onload = function () {
			if ("@TempData["Type"]" == "1") {
				Swal.fire("Success", "@TempData["Message"]", "success");
			}
			if ("@TempData["Type"]" == "2") {
				Swal.fire("Warning", "@TempData["Message"]", "warning");
			}
			if ("@TempData["Type"]" == "3") {
				Swal.fire("Sorry", "@TempData["Message"]", "error");
			}
		}
	}
</script>
<div class="header-card">
	<div class="row p-3 pb-0">
		<div class="col-sm-8">
			<h5 class="text">Designation Type</h5>
		</div>
		<div class="col-sm-4 d-flex justify-content-end">
			<a class="btn btn-outline-dark  h-75 " asp-action="Create">Add Designation Type</a>
		</div>
	</div>
	<div class="firstcard">
		<fieldset>
			<legend>Designation Type Details</legend>
			<div class="table-responsive">
				<table class="table designationTypetable">
					<thead>
						<tr>
							<th scope="col">Sr. No.</th>
							<th scope="col">Designation Type(In English)</th>
							<th scope="col">पदनाम प्रकार का नाम(हिंदी में)</th>
							<th scope="col">Designation Type Code </th>
							<th scope="col">Status</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var designationType in Model.Select((value, index) => new { value, index }))
						{
							<tr>
								<td>@(designationType.index + 1)</td> <!-- Displaying serial number -->
								<td>@designationType.value.DesignationTypeNameEng</td>
								<td>@designationType.value.DesignationTypeNameEng</td>
								<td>@designationType.value.DesignationTypeCode</td>
								<td>
									@if (designationType.value.IsActive)
									{
										<span class="badge bg-success">Active</span>
									}
									else
									{
										<span class="badge bg-danger">Inactive</span>
									}
								</td>
								<td>
									<a asp-action="Edit" asp-route-id="@designationType.value.DesignationTypeId" class="btn btn-sm btn-outline-primary">Edit</a>

									@* <button class="btn btn-outline-danger" type="submit" onclick="deletedesignationType(@designationType.value.designationTypeId)">
										<i class="fa fa-trash"></i>
									</button> *@
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</fieldset>
	</div>
</div>
<link href="~/assets/css/customcss.css" rel="stylesheet" />
