@model HRMS.Entities.Models.MstBloodGroup
@{
	ViewData["Title"] = "Blood Group  Master";
	Layout = "~/Views/Shared/_MainMaster.cshtml";
}
<script>
	if ("@TempData["Message"]" != "") {
		window.onload = function () {
			if ("@TempData["Type"]" == "1") {
				Swal.fire("Success", "@TempData["Message"]", "success");
			}
			if ("@TempData["Type"]" == "2") {
				Swal.fire("Warning", "@TempData["Message"]", "warning");
			}
			if ("@TempData["Type"]" == "3") {
				Swal.fire("Sorry", "@TempData["Message"]", "error");
			}
		}
	}
</script>
<div class="header-card">
	<div class="row p-3 pb-0">
		<div class="col-sm-8">
			<h5 class="text">Blood Group  Master</h5>
		</div>
		<div class="col-sm-4 d-flex justify-content-end">
			<a class="btn btn-outline-dark  h-75 " asp-action="Index">Back</a>
		</div>
	</div>
	<div class="firstcard">
		<fieldset>
			<legend class="text-primary fw-bold">Add Blood Group </legend>
			<form asp-action="Edit" method="post">
				<div class="row">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" asp-for="BloodGroupId" />
					<!-- Division Name in English -->
					<div class="col-md-4">
						<div class="form-group">
							<label asp-for="BloodGroupName" class="control-label"></label><span class="text-danger"> *</span>
							<input asp-for="BloodGroupName" class="form-control" placeholder="Enter Religion Name in English" />
							<span asp-validation-for="BloodGroupName" class="text-danger"></span>
						</div>
					</div>

					<!-- IsActive Checkbox -->
					<div class="col-md-4 mt-4">
						<div class="form-check">
							<input class="form-check-input" asp-for="IsActive" checked />
							<label asp-for="IsActive" class="form-check-label"></label>
						</div>
					</div>
				</div>

				<hr />
				<div class="row">
					<!-- Submit and Clear Buttons -->
					<div class="col-md-4">
						<input type="submit" id="submit-update-btn" value="Update" class="btn btn-outline-success shadow btn-rounded" />
					
					</div>
				</div>
			</form>
		</fieldset>
	</div>

</div>
