@model IEnumerable<HRMS.Entities.Models.MstCaste>
@{
	ViewData["Title"] = "Caste Master";
	Layout = "~/Views/Shared/_MainMaster.cshtml";
}
<script>
	if ("@TempData["Message"]" != "") {
		window.onload = function () {
			if ("@TempData["Type"]" == "1") {
				Swal.fire("Success", "@TempData["Message"]", "success");
			}
			if ("@TempData["Type"]" == "2") {
				Swal.fire("Warning", "@TempData["Message"]", "warning");
			}
			if ("@TempData["Type"]" == "3") {
				Swal.fire("Sorry", "@TempData["Message"]", "error");
			}
		}
	}
</script>

<div class="header-card">
	<div class="row p-3 pb-0">
		<div class="col-sm-8">
			<h5 class="text">Caste Master</h5>
		</div>
		<div class="col-sm-4 d-flex justify-content-end">
			<a class="btn btn-outline-dark  h-75 " asp-action="Create">Add Caste</a>
		</div>
	</div>
	<div class="firstcard">
		<fieldset>
			<legend>Caste Details</legend>
			<div class="table-responsive">
				<table class="table religiontable">
					<thead>
						<tr>
							<th scope="col">Sr. No.</th>
							<th scope="col">Caste Name(In English)</th>
							<th scope="col">Caste Name(In Hindi)</th>
							<th scope="col">Status</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var religion in Model.Select((value, index) => new { value, index }))
						{
							<tr>
								<td>@(religion.index + 1)</td> <!-- Displaying serial number -->
								<td>@religion.value.CasteNameEng</td>
								<td>@religion.value.CasteNameHin</td>
								<td>
									@if (religion.value.IsActive)
									{
										<span class="badge bg-success">Active</span>
									}
									else
									{
										<span class="badge bg-danger">Inactive</span>
									}
								</td>
								<td>
									<a href="@Url.Action("Edit", "Caste", new { id = religion.value.CasteId })" class="btn btn-sm btn-outline-primary">Edit</a>

									@* <button class="btn btn-outline-danger" type="submit" onclick="deletereligion(@religion.value.religionId)">
										<i class="fa fa-trash"></i>
									</button> *@
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</fieldset>
	</div>
</div>
<link href="~/assets/css/customcss.css" rel="stylesheet" />
