@model HRMS.Entities.Models.MstState
@{
    ViewData["Title"] = "State Master";
    Layout = "~/Views/Shared/_MainMaster.cshtml";
}
<script>
    if ("@TempData["Message"]" != "") {
        window.onload = function () {
            if ("@TempData["Type"]" == "1") {
                Swal.fire("Success", "@TempData["Message"]", "success");
            }
            if ("@TempData["Type"]" == "2") {
                Swal.fire("Warning", "@TempData["Message"]", "warning");
            }
            if ("@TempData["Type"]" == "3") {
                Swal.fire("Sorry", "@TempData["Message"]", "error");
            }
        }
    }
</script>
<div class="header-card">
	<div class="row p-3 pb-0">
		<div class="col-sm-8">
			<h5 class="text">State Master</h5>
		</div>
		<div class="col-sm-4 d-flex justify-content-end">
            <a class="btn btn-outline-dark  h-75 " asp-action="Index">Back</a>
		</div>
	</div>
	<div class="firstcard">
		<fieldset>
			<legend>
				Add State
			</legend>
            <form asp-action="Create" id="FormStateMaster" class="pt_upld_page_frm">
                <div class="row">
                   
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="StateNameEng" class="control-label"></label><span style="color: red;">*</span>
                            <input asp-for="StateNameEng" id="StateNameEng" required data-msg="Enter State Name" placeholder="State Name (In English)" autocomplete="off" class="form-control" onkeypress="return AlphabetOnly();" />

                            <span asp-validation-for="StateNameEng" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="StateNameHin" class="control-label"></label><span style="color: red;">*</span>
                            <input asp-for="StateNameHin" placeholder="राज्य का नाम दर्ज करें" autocomplete="off" class="form-control" required data-msg="राज्य का नाम (हिंदी में)" onkeypress="return HindiLettersOnly();" />
                            <span asp-validation-for="StateNameHin" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="StateCode" class="control-label"></label><span style="color: red;">*</span>
                            <input asp-for="StateCode" placeholder="Enter State Code No." autocomplete="off" class="form-control" pattern=".{2,}" required title="Code No. must be at least 2 digit." data-msg="Code No." onkeypress="return NumberOnly();" onchange="return countCharacters();" />
                            <span asp-validation-for="StateCode" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4 mt-4">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" checked="checked" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                            </label>
                        </div>
                    </div>

                </div>
                <hr class="" />
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="submit" value="Save" id="submit-btn" class="btn btn-outline-primary shadow btn-rounded" />
                            <a asp-action="Create" class="btn btn-outline-danger shadow btn-rounded">Clear</a>
                        </div>
                    </div>
                </div>
               
            </form>
		</fieldset>
	</div>
</div>


